.hero {
    font-weight: 600;
    font-size: 2.7rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;

}
@media (max-width:3750px){
    .hero {
        
        font-size: 2.2rem;
       
    
    }
}
@media (max-width:320px){
    .hero {
      
        font-size: 1.5rem;
    
    }
}